/* add custom styles */
html {
	width: 100%;
	font-size:
}

body {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "bebas-neue", sans-serif;
	text-transform: uppercase;
	text-align: center;
	transition: all 1s;
}

.jumbotron {
	background-color: rgba(48, 48, 48, .6);
}
nav {
 position: fixed;
 padding-right: 15px;
 right: 0;
 top: 20%;
 background-color: rgba(20, 20, 20, 1);

}
ul {
	list-style: none;
	padding: 10px;
	margin: auto ;
}

h1 {
	text-align: center;
	font-family: 'bebas-neue';
}

form {
	width: 100%;
}
.glyphicon {
	color:  #0ac292;
}

#citySearch input, #citySearch button {
	display: inline-block;
	width: 80%;
	margin-left: 10%;
	float: left;
	text-align: center;
}

#citySearch button {
	margin-bottom: 2%;
}

hr {
	clear: both;
	opacity: 0;
}

table {
	font-family: 'bebas-neue';

}

th {
	text-align: center;
	text-transform: underline;
}
td {
	text-align: center;
}
td:hover {
	color: #0ce3ac;
}

#artistSearch input{
	width: 25%;
	text-align: center;
}

#artistResults li {
	text-align: center;
	font-size: 3rem;
	width: 50%;
	margin-left: 25%;
}

#googleMap {
	width: 90%;
	margin-left: 5%;
	height: 500px;
}

#firstHeading{
	text-transform: bold;
}
.content {
	text-transform: bold;
	text-align: center;
	color: black;
	font-size: 1.5rem;
}


