/* add custom styles */
html {
	width: 100%;
	font-size:
}

body {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "bebas-neue", sans-serif;
	text-transform: uppercase;
	text-align: center;
	transition: all 1s;
}
.full-width {
	width: 100%;
}

.jumbotron {
	background-color: rgba(48, 48, 48, .4);
}

.navbar {
	background-color: rgba(40, 40, 40, 1);
}

p.navbar-brand {
	position: absolute;
	right: 0;
	display: inline-block;
	color: #0ce3ac!important;
}
.navbar-toggle {
	float: left;
	display: inline-block;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0CE3AC;
}


#sideNav {
 position: fixed;
 padding-right: 15px;
 right: 0;
 top: 20%;
 background-color: rgba(20, 20, 20, 1);

}
ul {
	list-style: none;
	padding: 10px;
	margin: auto ;
}

h1 {
	text-align: center;
	font-family: 'bebas-neue';
}

form {
	width: 100%;
}
.glyphicon {
	color:  #0ac292;
}

#citySearch input, #citySearch button {
	display: inline-block;
	width: 80%;
	margin-left: 10%;
	float: left;
	text-align: center;
	opacity: .7;
}

#citySearch button {
	margin-bottom: 2%;
}

hr {
	clear: both;
	opacity: 0;
}

table {
	font-family: 'bebas-neue';
}

th {
	visibility: hidden;
	text-align: center;
	text-transform: underline;
}
td {
	text-align: center;
}
td:hover {
	color: #0ce3ac;
}

#artistSearch input{
	width: 25%;
	text-align: center;
}

#artistResults li {
	text-align: center;
	font-size: 3rem;
	width: 50%;
	margin-left: 25%;
}

#googleMap {
	width: 90%;
	margin-left: 5%;
	height: 500px;
	border: 2px solid #EE9814;
}

#firstHeading{
	text-transform: bold;
}
.content {
	text-transform: bold;
	text-align: center;
	color: black;
	font-size: 1.5rem;
}







.navbar-collapse.collapse {
    display: none!important;
}

.navbar-collapse.collapse.in{
    display: block!important;
}
.navbar-toggle {
        display: block;
    }

